@{
    ViewData["Title"] = "Home Page";
}

<section class="text-center bg-light pt-5 pb-3">
    <div class="container">
        <h1 class="display-5">Welcome to Bookstore</h1>
        <p class="lead text-muted">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <p>
            <a href="#" class="btn btn-primary my-2">Search books</a>
        </p>
    </div>
</section>
<div class="py-5 mt-5">
    <div class="container">
        <h3 class="h3">Top books</h3>
        <vc:top-books count="6"></vc:top-books>
    </div>
</div> 