<footer class="border-top footer text-muted">
    <div class="container">
        &copy; @DateTime.Now.Year - BookStore | <email-generator my-email="iamAhsanJoyia" email-name="Developer"></email-generator> - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>