@using Microsoft.Extensions.Options;
@inject IOptionsSnapshot<NewBookAlertConfig> _config;
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BookStore</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Home" asp-action="AboutUs">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Home" asp-action="ContactUs">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Book" asp-action="GetAllBooks">Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Book" asp-action="AddNewBook">Add Book</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Language" asp-action="AddNewLanguage">Add Language</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Language" asp-action="GetAllLanguages">Languages</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <partial name="_loginInfo" />
                </ul>

            </div>
        </div>
    </nav>
</header>

@if (_config.Value.DisplayNewBookAlert)
{

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Hello!</strong> @_config.Value.BookName
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}